<div class="bootstrapiso">
		<nav class="navbar navbar-expand-xl fixed-top">
			<a class="navbar-brand" href="https://www.mistyrobotics.com">
				<img id="misty-robotics-logo" src="https://www.mistyrobotics.com/wp-content/themes/mistywptheme/img/misty-robotics-logo.png" alt="Misty Robotics Home">
  			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Dynamic Menu Start -->
				<ul id=" " class="navbar-nav ml-auto"><li class="nav-item"><a href="https://www.mistyrobotics.com/" class="nav-link">Home</a></li>
					<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="https://www.mistyrobotics.com/products/misty-ii/" class="dropdown-item">Misty II</a>
						<a href="https://www.mistyrobotics.com/products/misty-ii/accessories/" class="dropdown-item">Accessories</a>
						<a href="https://www.mistyrobotics.com/products/solution-hub/" class="dropdown-item">Solution Hub</a>
					</div>
					</li>
					<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Docs &amp; Resources</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="https://www.mistyrobotics.com/docs-and-resources/platform-overview/" class="dropdown-item">Platform Overview</a>
						<a href="http://sdk.mistyrobotics.com/" class="dropdown-item">Development Tools</a>
						<a href="https://docs.mistyrobotics.com/" class="dropdown-item">Documentation</a>
						<a href="https://www.mistyrobotics.com/blog/category/misty-labs/" class="dropdown-item">Misty Labs</a>
					</div>
					</li>
					<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Use Cases</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="https://www.mistyrobotics.com/use-cases/use-case-overview/" class="dropdown-item">Use Case Overview</a>
						<a href="https://www.mistyrobotics.com/use-cases/robot-for-covid-19-coronavirus-safety-wellness/" class="dropdown-item">COVID-19 Safety and Wellness</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-ii-a-partner-in-socially-assistive-therapy/" class="dropdown-item">Socially Assistive Therapy</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-ii-your-eldercare-partner/" class="dropdown-item">Eldercare</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-ii-childrens-hospital-care-team/" class="dropdown-item">Children’s Hospitals</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-ii-your-partner-in-university-education-and-research/" class="dropdown-item">University Education and Research</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-ii-your-innovation-partner/" class="dropdown-item">Innovation Labs</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-ii-your-library-partner/" class="dropdown-item">Libraries</a>
						<a href="https://www.mistyrobotics.com/use-cases/misty-heroes-hall-of-fame/" class="dropdown-item">Customer Heroes</a>
					</div>
					</li>
					<li class="nav-item"><a href="https://community.mistyrobotics.com/" class="nav-link">Community</a></li>
					<li class="nav-item"><a href="https://www.mistyrobotics.com/blog/" class="nav-link">Blog</a></li>
				</ul>				
				<!-- Dynamic Menu End -->
				
				<a href="https://shop.mistyrobotics.com"><button type="button" id="menu-button-buy-now" class="btn btn-primary navbar-btn">Buy Now</button></a>
  			</div>
		</nav>
		
		<script type="text/javascript">
			const $dropdown = jQuery(".dropdown");
			const $dropdownToggle = jQuery(".dropdown-toggle");
			const $dropdownMenu = jQuery(".dropdown-menu");
			const showClass = "show";

			jQuery(window).on("load resize", function() {
				if (this.matchMedia("(min-width: 768px)").matches) {
					$dropdown.hover(
					function() {
						const $this = jQuery(this);
						$this.addClass(showClass);
						$this.find($dropdownToggle).attr("aria-expanded", "true");
						$this.find($dropdownMenu).addClass(showClass);
		      			},
			  		function() {
			  			const $this = jQuery(this);
			  			$this.removeClass(showClass);
			  			$this.find($dropdownToggle).attr("aria-expanded", "false");
			  			$this.find($dropdownMenu).removeClass(showClass);
		      			}
			  		);
		  		} else {
		  			$dropdown.off("mouseenter mouseleave");
	  				}
				});
		</script>
	</div>

<div class='docs-header'>

  <div class='left'>

    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>

    <div class="sections">
        <ul class="docs-menu-2">
            {{!-- This is an example of how to use the "active" tag to underline the active page. Avoid using until Misty I docs are removed. --}}
            {{!-- <li><a class="nav {{#contains path.href 'misty-i'}}active{{/contains}}" href="/misty-i/robots/introduction">Misty II</a></li> --}}
            <li><a class="nav" href="/">Docs Home</a></li>
            <li><a class="nav" href="/misty-ii/get-started/meet-misty">Misty II</a></li>
            <li><a class="nav" href="/misty-i/robot/introduction">Misty I</a></li>
            <li><a class="nav" href="/tools-&-apps/tools-&-apps/introduction">Tools & Apps</a></li>
            <li><a class="nav" href="http://sdk.mistyrobotics.com" target="_blank">SDK <img src="/assets/images/new-window.svg" alt="new window icon"></a></li>
            <li><a class="nav" href="https://github.com/MistyCommunity" target="_blank">Code Samples <img src="/assets/images/new-window.svg" alt="new window icon"></a></li>
            <li><a class="nav" href="https://github.com/MistySampleSkills" target="_blank">Sample Skills <img src="/assets/images/new-window.svg" alt="new window icon"></a></li>
        </ul>
    </div>

    <div class="dropdown mobile-only">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{titleize-top-level-category path.href}}

        <i class="icon ion-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="/">Docs Home</a></li>
        <li><a href="/misty-ii/get-started/meet-misty">Misty II</a></li>
        <li><a href="/misty-i/robot/introduction">Misty I</a></li>
        <li><a href="/tools-&-apps/tools-&-apps/introduction">Tools & Apps</a></li>
        <li><a href="http://sdk.mistyrobotics.com" target="_blank">SDK <img src="/assets/images/new-window-dropdown.svg" alt="new window icon" style="{height: 12px, width: 12px}"></a></li>
        <li><a href="https://github.com/MistyCommunity" target="_blank">Code Samples <img src="/assets/images/new-window-dropdown.svg" alt="new window icon" style="{height: 12px, width: 12px}"></a></li>
        <li><a href="https://github.com/MistySampleSkills" target="_blank">Sample Skills <img src="/assets/images/new-window-dropdown.svg" alt="new window icon"></a></li>
      </ul>
    </div>

  </div>

  <div class='right'>

    <div class="search">
      <div class="search-input-wrapper">
        <i class="ion-search"></i>
        <input class="search-box" type="text" placeholder='Search' value='' />
      </div>
      <div class="search-results">
      </div>

    </div>

    <a href='{{edit-link branch path.href path.name}}' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>


  </div>
</div>
