<div class="header header--white">
  <div class="header__logo">
    <a href="https://www.mistyrobotics.com">
      <svg version="1.1" id="Logo_Lockup" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 974.9 108" style="fill: rgb(255, 255, 255);" xml:space="preserve">
      <g>
      <g>
      <g>
      <rect x="871.1" y="36" class="st0" width="19.2" height="19.2"></rect>
      <rect x="915.7" y="36" class=jo"st0" width="19.2" height="19.2"></rect>
      <path class="st0" d="M831.4,19v54.6c0,8.7,7,15.7,15.7,15.7l9.5,0V75.4H846V17.1l10.6,0V3.2l-9.5,0
      C838.4,3.2,831.4,10.3,831.4,19z"></path>
      <path class="st0" d="M959,3.3l-9.5,0v13.8h10.6v58.4h-10.6v14l9.5,0c8.7,0,15.7-7.1,15.7-15.7V19C974.7,10.3,967.7,3.3,959,3.3z"></path>
      </g>
      </g>
      <path class="st0" d="M630.1,39.4h13.3V27.1h-13.2V11.5h-13.6l0,15.6h-9.4v12.3h9.4l0,35.5c0,8,6.2,14.5,14.2,14.5l12.7,0V77h-13.3
      L630.1,39.4z"></path>
      <polygon class="st0" points="45.9,72.5 21.9,3.3 0.2,3.3 0.2,89.4 13.9,89.4 13.9,19.9 38.4,89.4 53.4,89.4 77.9,19.9 77.9,89.4
      91.6,89.4 91.6,3.3 69.8,3.3 	"></polygon>
      <path class="st0" d="M207.7,39.4H221V27.1h-13.2V11.5h-13.6l0,15.6h-9.4v12.3h9.4l0,35.5c0,8,6.2,14.5,14.2,14.5l12.7,0V77h-13.3
      L207.7,39.4z"></path>
      <path class="st0" d="M708.7,25.7c-18.3,0-31.7,12.9-31.7,32.6c0,20.5,14.1,32.6,31.7,32.6c22,0,28.1-16.6,29-22.9l0.1-0.7h-15.1
      c-1.8,6.7-6.2,9.8-13.7,9.8c-5.7,0-17-2.4-17-18.7c0-15.8,10.7-18.8,17-18.8c8,0,12.9,4,13.6,11.1c0,0,15,0,15,0
      C737.1,43.8,732,25.7,708.7,25.7z"></path>
      <g>
      <rect x="105.4" y="27.1" class="st0" width="13.7" height="62.4"></rect>
      <path class="st0" d="M112.3,0c-4.9,0-8.9,3.9-8.9,8.7c0,4.8,4,8.7,8.9,8.7c4.7,0,8.6-3.9,8.6-8.7C120.9,4,117.1,0,112.3,0z"></path>
      </g>
      <path class="st0" d="M737.6,50.7"></path>
      <g>
      <rect x="655" y="27" class="st0" width="13.7" height="62.4"></rect>
      <path class="st0" d="M661.9,0C657,0,653,3.9,653,8.7c0,4.8,4,8.7,8.9,8.7c4.7,0,8.6-3.9,8.6-8.7C670.5,3.9,666.7,0,661.9,0z"></path>
      </g>
      <path class="st0" d="M390,31.6c0-21.1-18.5-28.1-28.3-28.1l-36.3,0l0,85.9l14.4,0l0-29.6l19.1,0l15.2,29.7l16.3,0l-16.5-32.3
      C383.8,52.7,390,43,390,31.6z M360.7,46.6l-20.9,0l0-30l20.9,0c10.8,0,14.2,8.2,14.2,15S371.5,46.6,360.7,46.6z"></path>
      <path class="st0" d="M501.6,25.4c-8.6,0-18,4.5-21,10.5l-0.3,0l0-29.9l-13.7,0l0,83.1l0,0.3l13.7,0l0-8.5l0.3,0
      c4.1,6.2,11.1,9.9,19.8,9.9c10.1,0,30.5-8.7,30.5-33.6C531,41.1,517.7,25.4,501.6,25.4z M516.3,58.3c0,12-8,19.3-18,19.3
      c-9.9,0-18-7.4-18-19.3s8-19.3,18-19.3C508.3,39.1,516.3,46.3,516.3,58.3z"></path>
      <path class="st0" d="M425.6,77.4c-9.4,0-18.2-5.7-18.2-19.1s9-19.1,18.2-19.1s18.2,5.7,18.2,19.1S435,77.4,425.6,77.4z M425.6,91.1
      c19.1,0,32.8-14.5,32.8-32.8s-13.8-32.7-32.8-32.7s-32.8,14.4-32.8,32.7S406.5,91.1,425.6,91.1z"></path>
      <path class="st0" d="M570.9,77.4c-9.4,0-18.2-5.7-18.2-19.1s9-19.1,18.2-19.1c9.2,0,18.2,5.7,18.2,19.1S580.3,77.4,570.9,77.4z
      M570.9,91.1c19.1,0,32.8-14.5,32.8-32.8s-13.8-32.7-32.8-32.7c-19.1,0-32.8,14.4-32.8,32.7S551.8,91.1,570.9,91.1z"></path>
      <path class="st0" d="M758.4,44.1c0-4,3.7-6.6,9.5-6.6c12.5,0,11.6,9.6,11.6,9.6h13.6c0,0,0.6-21.6-24.8-21.6
      c-14.3,0-23.5,7.8-23.5,19.9c0,14.7,12.5,16.8,22.5,18.4c8.5,1.4,13.6,2.5,13.6,7.6c0,4.7-4.1,7.5-10.9,7.5
      c-13.4,0-13.2-9.2-13.2-11.6h-13.8c0,4.1,1.5,23.6,26.7,23.6c14.6,0,24.8-8.5,24.8-20.6c0-12.6-8.7-16.8-22.7-18.9
      C763.1,50,758.4,48.7,758.4,44.1z"></path>
      <path class="st0" d="M144.3,44.1c0-4,3.7-6.6,9.5-6.6c12.5,0,11.6,9.6,11.6,9.6h13.6c0,0,0.6-21.6-24.8-21.6
      c-14.3,0-23.5,7.8-23.5,19.9c0,14.7,12.5,16.8,22.5,18.4c8.5,1.4,13.6,2.5,13.6,7.6c0,4.7-4.1,7.5-10.9,7.5
      c-13.4,0-13.2-9.2-13.2-11.6H129c0,4.1,1.5,23.6,26.7,23.6c14.6,0,24.8-8.5,24.8-20.6c0-12.6-8.7-16.8-22.7-18.9
      C149,50,144.3,48.7,144.3,44.1z"></path>
      <path class="st0" d="M270.9,27.1V60c0,9.8-6.3,13.8-13.7,13.8c-6.3,0-11.4-2.9-11.4-12.1V27.1h-13.6v36.4
      c0,16.9,10.1,22.6,20.9,22.6c12.2,0,16.5-5.2,17.6-7h0.1V95h-31.5v13h28.1c13.1,0,17-7.7,17-16.5l0-64.4H270.9z"></path>
      </g>
      </svg>
    </a>
  </div>

  <div class="header__nav font-bgr">
    <a href="https://www.mistyrobotics.com/" class="header__nav__item lnk:blk txt:bld">Misty &amp; You</a>
    <div class="header__nav__dropdown header__nav__item">
      <a href="https://www.mistyrobotics.com/robots" class="header__nav__item header__nav__dropdown__item lnk:blk txt:bld" style="padding-right: 0">Robots</a>
      <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g id="Desktop-Home-Sticky-Nav" transform="translate(-1284.000000, -41.000000)" stroke-width="2" stroke="#231F20"><g id="Nav" transform="translate(47.000000, 29.000000)"><g id="Arrow-white" transform="translate(1243.000000, 13.000000) rotate(-90.000000) translate(-1243.000000, -13.000000) translate(1237.000000, 7.000000)"><polyline id="Rectangle-2" transform="translate(5.656854, 5.656854) rotate(-45.000000) translate(-5.656854, -5.656854) " points="2.65685425 8.65685425 2.65685425 2.65685425 2.65685425 2.65685425 8.65685425 2.65685425"></polyline></g></g></g></g></svg>
      <div class="header__nav__dropdown__items">
        <a class="txt:bld" href="https://www.mistyrobotics.com/robots/">Overview</a>
        <a class="txt:bld" href="https://www.mistyrobotics.com/robots/misty-ii">Misty II</a>
        <a class="txt:bld" href="https://www.mistyrobotics.com/robots/tools">Misty I</a>
        <a class="txt:bld" href="https://www.mistyrobotics.com/robots/roadmap">Feature Roadmap</a>
      </div>
    </div>
    <a href="https://community.mistyrobotics.com" class="header__nav__item lnk:blk txt:bld">Community</a>
    <div class="header__nav__dropdown header__nav__item">
      <a href="https://www.mistyrobotics.com/develop/" class="header__nav__item header__nav__dropdown__item lnk:blk txt:bld" style="padding-right: 0">Develop</a>
      <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g id="Desktop-Home-Sticky-Nav" transform="translate(-1284.000000, -41.000000)" stroke-width="2" stroke="#231F20"><g id="Nav" transform="translate(47.000000, 29.000000)"><g id="Arrow-white" transform="translate(1243.000000, 13.000000) rotate(-90.000000) translate(-1243.000000, -13.000000) translate(1237.000000, 7.000000)"><polyline id="Rectangle-2" transform="translate(5.656854, 5.656854) rotate(-45.000000) translate(-5.656854, -5.656854) " points="2.65685425 8.65685425 2.65685425 2.65685425 2.65685425 2.65685425 8.65685425 2.65685425"></polyline></g></g></g></g></svg>
      <div class="header__nav__dropdown__items">
        <a class="txt:bld" href="https://www.mistyrobotics.com/developers/">Overview</a>
        <a class="txt:bld" href="https://docs.mistyrobotics.com">Documentation</a>
        <a class="txt:bld" href="https://www.mistyrobotics.com/developers/tools">Tools</a>
        <a class="txt:bld" href="https://www.mistyrobotics.com/developers/apply">Developer Program</a>
      </div>
    </div>
    <a href="https://www.mistyrobotics.com/about" class="header__nav__item lnk:blk txt:bld">Story</a>
    <a class="button button--white" href="https://www.mistyrobotics.com/#get-misty">Buy Misty II</a>
  </div>

  <div class="header__nav__mobile__toggle" onclick="toggleMobileMenu();">
    <svg class="burger" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="Mobile-Nav-1" transform="translate(-335.000000, -27.000000)" stroke-width="2">
          <g id="Hamburger" transform="translate(336.000000, 27.000000)">
            <path d="M0.5,1.5 L17.5,1.5" id="Line"></path>
            <path d="M0.5,8.5 L17.5,8.5" id="Line-Copy"></path>
            <path d="M0.5,15.5 L17.5,15.5" id="Line-Copy-2"></path>
          </g>
        </g>
      </g>
    </svg>
    <svg class="close" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="Mobile-Nav-2" transform="translate(-336.000000, -27.000000)" stroke-width="2">
          <g id="X" transform="translate(337.000000, 28.000000)">
            <path d="M1.1309627,14.2976087 L14.8690373,0.559534126" id="Line-Copy"></path>
            <path d="M1.1309627,14.2976087 L14.8690373,0.559534126" id="Line-Copy" transform="translate(8.000000, 7.428571) scale(-1, 1) translate(-8.000000, -7.428571) "></path>
          </g>
        </g>
      </g>
    </svg>
  </div>


  <div class="header__nav__mobile font-bgr">
    <div class="header__nav__mobile__items">
      <a href="/misty-and-you" class="header__nav__item lnk:blk txt:bld">Misty &amp; You</a>

      <div class="header__nav__dropdown header__nav__item lnk:blk txt:bld" onClick="expandMobileSubmenu(this);">
        Robots
        <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g id="Desktop-Home-Sticky-Nav" transform="translate(-1284.000000, -41.000000)" stroke-width="2" stroke="#231F20"><g id="Nav" transform="translate(47.000000, 29.000000)"><g id="Arrow-black" transform="translate(1243.000000, 13.000000) rotate(-90.000000) translate(-1243.000000, -13.000000) translate(1237.000000, 7.000000)"><polyline id="Rectangle-2" transform="translate(5.656854, 5.656854) rotate(-45.000000) translate(-5.656854, -5.656854) " points="2.65685425 8.65685425 2.65685425 2.65685425 2.65685425 2.65685425 8.65685425 2.65685425"></polyline></g></g></g></g></svg>
      </div>
      <div>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/robots">Overview</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/robots/misty-ii">Misty II</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/robots/misty-developer-edition-robot">Misty I</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/robots/roadmap">Feature Roadmap</a>
      </div>
      <a href="https://community.mistyrobotics.com/" class="header__nav__item lnk:blk txt:bld">Community</a>
      <div class="header__nav__dropdown header__nav__item lnk:blk txt:bld" onClick="expandMobileSubmenu(this);">
        Develop
        <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g id="Desktop-Home-Sticky-Nav" transform="translate(-1284.000000, -41.000000)" stroke-width="2" stroke="#231F20"><g id="Nav" transform="translate(47.000000, 29.000000)"><g id="Arrow-black" transform="translate(1243.000000, 13.000000) rotate(-90.000000) translate(-1243.000000, -13.000000) translate(1237.000000, 7.000000)"><polyline id="Rectangle-2" transform="translate(5.656854, 5.656854) rotate(-45.000000) translate(-5.656854, -5.656854) " points="2.65685425 8.65685425 2.65685425 2.65685425 2.65685425 2.65685425 8.65685425 2.65685425"></polyline></g></g></g></g></svg>
      </div>
      <div>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/develop">Overview</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="https://docs.mistyrobotics.com/">Documentation</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/develop/tools">Tools</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="/develop/apply">Developer Program</a>
      </div>
    </div>
    <a href="/about" class="header__nav__item lnk:blk txt:bld">Story</a>
    <div class="join-us">
      <a class="button button--blue" href="/#get-misty">Buy Misty II</a>
    </div>
  </div>
</div>

<div class='docs-header'>

  <div class='left'>

    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>

    <div class="sections">
      <a class="nav" href="/">Docs Home</a>
      <a class="nav {{#contains path.href 'onboarding'}}active{{/contains}}" href="/coding">Coding Misty</a>
      <a class="nav {{#contains path.href 'apis'}}active{{/contains}}" href="/using">Setting Up Misty</a>
      
    </div>

    <div class="dropdown mobile-only">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{top-level-category path.href}}
        <i class="icon ion-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="/onboarding">Programming Misty</a></li>
        <!-- <li><a href="/faq">FAQ</a></li> -->
        <li><a href="/apis">Setting Up Misty</a></li>
        <!-- <li><a href="/casestudies">Case Studies</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/codesamples">Code Samples</a></li> -->
      </ul>
    </div>

  </div>

  <div class='right'>


    <div class="search">
      <div class="search-input-wrapper">
        <i class="ion-search"></i>
        <input class="search-box" type="text" placeholder='Search' value=''/>
      </div>
      <div class="search-results">
      </div>
      
    </div>

    <a href='{{edit-link branch path.href path.name}}' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>

  </div>
</div>
