<div class="header header--white">
  <div class="header__logo">
    <a href="https://www.mistyrobotics.com">
      <img src="https://www.mistyrobotics.com/wp-content/uploads/misty_robotics@2x.png" />
    </a>
  </div>

  <div class="header__nav font-bgr">
    <a href="https://www.mistyrobotics.com/robots/" class="header__nav__item lnk:blk txt:bld">Robot</a>
    <div class="header__nav__dropdown header__nav__item">
      <a href="https://www.mistyrobotics.com/build/" class="header__nav__item header__nav__dropdown__item lnk:blk txt:bld" style="padding-right: 0">Build<span class="sub-arrow"><i class="fas fa-chevron-down"></i></span>
      </a>
      <div class="header__nav__dropdown__items">
        <a class="txt:bld" href="https://docs.mistyrobotics.com">Docs</a>
      </div>
    </div>
    <div class="header__nav__dropdown header__nav__item">
      <a href="https://www.mistyrobotics.com/engage/" class="header__nav__item header__nav__dropdown__item lnk:blk txt:bld" style="padding-right: 0">Engage<span class="sub-arrow"><i class="fas fa-chevron-down"></i></span>
      </a>
      <div class="header__nav__dropdown__items">
        <a class="txt:bld" href="https://community.mistyrobotics.com">Community</a>
      </div>
    </div>
    <a href="https://www.mistyrobotics.com/not-a-dev/" class="header__nav__item lnk:blk txt:bld">Not a Dev?</a>
    <a class="button button--purple" href="https://shop.mistyrobotics.com/">Pre-order Now</a>
  </div>

  <div class="header__nav__mobile__toggle" onclick="toggleMobileMenu();">
    <svg class="burger" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Mobile-Nav-1" transform="translate(-335.000000, -27.000000)" stroke-width="2.75">
          <g id="Hamburger" transform="translate(336.000000, 27.000000)">
            <path d="M0,2 L20,2" id="Line"></path>
            <path d="M0,7.5 L20,7.5" id="Line-Copy"></path>
            <path d="M0,13 L20,13" id="Line-Copy-2"></path>
          </g>
        </g>
      </g>
    </svg>
    <svg class="close" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="Mobile-Nav-2" transform="translate(-336.000000, -27.000000)" stroke-width="2">
          <g id="X" transform="translate(337.000000, 28.000000)">
            <path d="M1.1309627,14.2976087 L14.8690373,0.559534126" id="Line-Copy"></path>
            <path d="M1.1309627,14.2976087 L14.8690373,0.559534126" id="Line-Copy" transform="translate(8.000000, 7.428571) scale(-1, 1) translate(-8.000000, -7.428571) "></path>
          </g>
        </g>
      </g>
    </svg>
  </div>

  <div class="header__nav__mobile font-bgr">
    <div class="header__nav__mobile__items">
      <a href="https://www.mistyrobotics.com/robots/" class="header__nav__item lnk:blk txt:bld">Robot</a>

      <div class="header__nav__dropdown header__nav__item lnk:blk txt:bld" onClick="expandMobileSubmenu(this);">
        Build
        <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
            <g id="Desktop-Home-Sticky-Nav" transform="translate(-1284.000000, -41.000000)" stroke-width="2" stroke="#231F20">
              <g id="Nav" transform="translate(47.000000, 29.000000)">
                <g id="Arrow-black" transform="translate(1243.000000, 13.000000) rotate(-90.000000) translate(-1243.000000, -13.000000) translate(1237.000000, 7.000000)">
                  <polyline id="Rectangle-2" transform="translate(5.656854, 5.656854) rotate(-45.000000) translate(-5.656854, -5.656854) " points="2.65685425 8.65685425 2.65685425 2.65685425 2.65685425 2.65685425 8.65685425 2.65685425"></polyline>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="https://www.mistyrobotics.com/build/">Overview</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="https://docs.mistyrobotics.com">Docs</a>
      </div>
      <div class="header__nav__dropdown header__nav__item lnk:blk txt:bld" onClick="expandMobileSubmenu(this);">
        Engage
        <svg width="11px" height="7px" viewBox="0 0 11 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Home,-Misty,-About,-Community" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
            <g id="Desktop-Home-Sticky-Nav" transform="translate(-1284.000000, -41.000000)" stroke-width="2" stroke="#231F20">
              <g id="Nav" transform="translate(47.000000, 29.000000)">
                <g id="Arrow-black" transform="translate(1243.000000, 13.000000) rotate(-90.000000) translate(-1243.000000, -13.000000) translate(1237.000000, 7.000000)">
                  <polyline id="Rectangle-2" transform="translate(5.656854, 5.656854) rotate(-45.000000) translate(-5.656854, -5.656854) " points="2.65685425 8.65685425 2.65685425 2.65685425 2.65685425 2.65685425 8.65685425 2.65685425"></polyline>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="https://www.mistyrobotics.com/engage/">Overview</a>
        <a class="header__nav__item header__nav__item--sub lnk:blk txt:bld" href="https://community.mistyrobotics.com/">Community</a>
      </div>
    </div>
    <a href="https://www.mistyrobotics.com/not-a-dev/" class="header__nav__item lnk:blk txt:bld">Not a Dev?</a>
    <div class="nav-cta">
      <a class="button button--blue" href="https://shop.mistyrobotics.com/">Pre-order Now</a>
    </div>
  </div>
</div>

<div class='docs-header'>

  <div class='left'>

    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>

    <div class="sections">
        <ul class="docs-menu-2">
            <li><a class="nav {{#contains path.href 'docs'}}active{{/contains}}" href="/">Docs</a></li>
            <li><a class="nav" href="https://github.com/MistyCommunity">Code Samples</a></li>
            <li><a class="nav" href="https://github.com/MistySampleSkills">Sample Skills</a></li>
        </ul>
    </div>

    <div class="dropdown mobile-only">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{top-level-category path.href}}
        <i class="icon ion-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="/">Docs</a></li>
        <li><a href="https://github.com/MistyCommunity">Code Samples</a></li>
        <li><a href="https://github.com/MistySampleSkills">Sample Skills</a></li>
      </ul>
    </div>

  </div>

  <div class='right'>


    <div class="search">
      <div class="search-input-wrapper">
        <i class="ion-search"></i>
        <input class="search-box" type="text" placeholder='Search' value='' />
      </div>
      <div class="search-results">
      </div>

    </div>

    <a href='{{edit-link branch path.href path.name}}' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>


  </div>
</div>
